div {
  padding-left: 25px;
  padding-right: 25px;
}

.App {
  margin-top: 25px;
}

h1 {
  padding-left: 100px;
}

#searchForm{
  padding-left: 150px;
  font-weight: bold;
}
.App .navbar-brand {
  font-weight: bold;
}
